/*FOOTER*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 220px;

  max-width: 1200px;
  margin: 65px auto 0;
  padding: 0 15px 40px;

  text-align: center;
}

/*---address---*/
.address {
  width: 100%;
  padding: 30px 0;
  background-color: #f4f7f6;
}

.soc-lst {
  display: flex;
  justify-content: center;
  align-items: center;

  /*list-style-type: none;*/
}

.soc-item:nth-child(n+2) {
  margin-left: 25px;
}

.soc-lnk {
  display: flex;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-size: 21px;
  background-position: center center;
}

.soc-ico-hint {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.soc-ico-twitter {
  background-image: url("../svg/004-twitter.svg");
}

.soc-ico-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

/*.soc-ico-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.soc-ico-instagram {
  background-image: url("../svg/005-instagram.svg");
}*/

.soc-ico-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}



/*---copyright---*/
.copyright {
  width: 100%;
  font-size: 12px;
  color: #999999;
  font-weight: bold;
}