@media (max-width: 1199px) {
 
  /*HEADER*/

  .menu-burger {
    display: block;
    position: relative;
    width: 24px;
    height: 20px;
    text-indent: -9999px;
    border: none;
    background-color: transparent;
    /*z-index: 3;*/
  }
  .menu-burger-label {
    position: absolute;
    top: 8px;
    right: 16px;
    width: 100%;
    height: 20%;
    background-color: #ffffff;
  }
  .menu-burger::before,
  .menu-burger::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    right: 16px;
    width: 100%;
    height: 20%;
  }
  .menu-burger::before {
    top: 0;
  }
  .menu-burger::after {
    bottom: 0;
  }

  .header {
    background-image: url("../img/banner-bg-tablet.jpg");
    background-position: center;
  }

  .hdr-nav {
    display: none;
  }

  .hdr-container {
  height: 26vh;
  padding: 15px 25px;
  }

  .hdr-logo {
    width: 160px;
  }

  .hdr-title {
  max-width: 650px;
  font-size: 4em;
  line-height: 1.38;
  margin-top: 88px;
  }


  /*TRENDS*/
  .trd-item {
    width: calc(50% - 3px);
    margin-bottom: 4px;
  }

  .trd-item:nth-child(odd) {
    margin-left: 0;
  }

  .trd-item-box {
    margin: 0 auto;
    width: 100%;
  }

  .trd-item-lnk {
   font-size: 1.8em;
  }







  /*MAIN+ASIDE*/

  .main-aside {
    margin: 40px auto;
  }


  /*MAIN*/

  .main {
    width: 100%;
    /*width: 780px*/
  }

  .post {
    flex-direction: column;
  }
  .post:nth-child(n + 2) {
    margin-top: 40px;
  }

  .pst-pic {
    width: 100%;
  }

  .pst-content {
    margin: 20px 0;
    max-width: 680px;
  }



  /*shop*/

  .products_body {
    padding: 0 15px;
  }

  .product-item {
    width: calc(50% - 21px);
  }


}










@media (max-width: 768px) {
  
  /*HEADER*/

  .header {
    height: 70vh;
    background-image: url("../img/banner-mobile.jpg");
  }

  .hdr-topbox {
    flex-direction: column-reverse;
  }

  .hdr-logo {
    width: 270px;
  }

  .hdr-menu-box {
    align-self: flex-end;
    margin-bottom: 170px;
  }

  .hdr-title {
    max-width: 350px;
    font-size: 2.6em;
    line-height: 1.38;
    margin-top: 40px;
  }


  /*TRENDS*/
  .trd-item {
    width: 100%;
    margin-bottom: 4px;
  }
  .trd-item:nth-child(n + 2) {
    margin-left: 0;
  }

  .trd-item-lnk {
   font-size: 1.6em;
  }


  /*MAIN+ASIDE*/

  .main-aside {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
  }

  
  /*MAIN*/

  .main {
    width: 100%;
    margin-left: 10px;
  }

  .post {
    flex-direction: column;
    border-bottom: 3px solid #eeeeee;
  }
  .post:nth-child(n + 2) {
    margin-top: 35px;
  }

  .pst-pic {
    width: calc(100% - 11px);
  }

  .pst-content {
    margin: 10px 0;
    width: calc(100% - 11px);
  }

  




  /*ASIDE*/

  .side-section {
    margin: 35px 10px;
    width: calc(100% - 11px);
  }





  /*shop*/

  .products_body {
    justify-content: center;

  }

  .product-item {
    width: 100%;
  }


}










